<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="au.edu.utas.mekvall.assignment">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RaffleList"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity"
            />
        <activity android:name=".CreateRaffleConfirm"

            />
        <activity android:name=".CreateSaleConfirm"

            />
        <activity android:name=".CustomerList" />
        <activity android:name=".TicketList"
            android:parentActivityName=".RaffleMenu"
            />
        <activity android:name=".SaleWindow"
            android:parentActivityName=".RaffleMenu"
            />
        <activity android:name=".RaffleMenu"
            android:parentActivityName=".RaffleList"
            />
        <activity android:name=".NewRaffle"
            android:parentActivityName=".MainActivity"
            />
        <activity android:name=".RandomWinner" />
        <activity android:name=".TicketMenu" />
        <activity android:name=".RaffleSettings"
            android:parentActivityName=".RaffleMenu"
            />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>



</manifest>
